<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <!-- QQ -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 小米 -->
        <activity android:name="com.xiaomi.account.openauth.AuthorizeActivity" />

    </application>

    <!-- QQ -->
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <!-- 企业微信 -->
    <queries>
        <package android:name="com.tencent.wework" />
    </queries>

    <!-- 支付宝 -->
    <queries>
        <package android:name="com.eg.android.AlipayGphone" />
    </queries>

    <!-- facebook -->
    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

    <!-- 抖音 -->
    <queries>
        <!--允许查询抖音和抖音极速版的软件包信息-->
        <package android:name="com.ss.android.ugc.aweme" />
        <package android:name="com.ss.android.ugc.aweme.lite" />
    </queries>

    <!-- 快手 -->
    <queries>
        <package android:name="com.smile.gifmaker"/>
        <package android:name="com.kuaishou.nebula"/>
    </queries>

    <!-- 飞书 -->
    <queries>
        <package android:name="com.ss.android.lark" />
    </queries>


</manifest>